<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
    <script src="/static/scripts/script.js" ></script>

    <script>
        //checkAge();
        handleSession();
        sessionLog();
        setTimeout(() =>
            alert("Нравится LifeSpot? " + '\n' + "Подпишитесь на наш Instagram @lifespot999!"),
            80000);
    </script>
</head>
<body>
    <header id="header-index">
        <div class="bordered">
            <h1>LifeSpot — прямые трансляции с улиц</h1>
            <p>Покажем, что происходит прямо сейчас</p>
        </div>
        <input type="text" oninput=" 
        filterContent()" size="50%">

    </header>

    <aside id="sidebar">

        <div class="navbar">
            <a href="/"><p>Все трансляции</p></a>
            <a href="/about"><p>О проекте</p></a>
            <a href="/testing"><p>Тестирование</p></a>
        </div>
    </aside>


    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Vn28Tk_uuq0?si=gUjNP5ugOgxeLFFw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GSmCh4DrbWY?si=qhHhxDSv92XkXXjd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE?si=bDWx9H00qRPRdGrb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h3 class="video-title">Лондон, автобусный маршрут</h3>
    </div>

    <footer>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </footer>

</body>
</html>
